{% extends 'CryptoWebsite/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-4">FEEDBACK</h1>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="thank-you mt-3" style="display: none;">Thank you for your feedback!</div>
        </div>
    </div>
{% endblock %}
