{% extends 'CryptoWebsite/base.html' %}

{% block title %}Home{% endblock %}
<div class="d-flex flex-grow-1" style="width: fit-content">
    <div class="col-md-12">
        {% block content %}
            <!-- Content for the full-width column goes here -->
            <img src="https://i.pinimg.com/originals/3f/ac/8d/3fac8da7df59f26425ea3fab82f8f448.jpg" class="img-fluid" alt="Full-width Image">
        {% endblock %}

    </div>
    <footer>
        <p>&copy; 2023 Your Cryptocurrency Website. All rights reserved.</p>
    </footer>
</div>