<!DOCTYPE html>
<html lang="en">

{% extends 'CryptoWebsite/base.html' %}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Make Payment</title>#}
{#</head>#}
{#<body>#}
{#    <h1>Make Payment</h1>#}
{#
{#    </form>#}
{#</body>#}
{#</html>#}
{% block content %}
 <form method="post" action="{% url 'make_payment' %}">
     {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Payment</button>
 </form>
{% endblock %}
