{% extends 'CryptoWebsite/base.html' %}

{% block title %}StockInfo{% endblock %}

{% block content %}
    <div class="container mt-4">
        <!-- First Row -->
        <div class="row">
            <!-- First Column -->
            <div class="col-md-6">
                <h2>{{ STOCK_NAME }}</h2>
            </div>
            <!-- Second Column -->
            <div class="col-md-6">
                <label for="currencyDropdown">Select Currency:</label>
                <select id="currencyDropdown" class="form-control" onchange="location = this.value;">
                    {% for c in currencies %}
                        {% if c.code == selected_currency_code %}
                            <option value="{% url 'convert_currency' amount=CONVERSION_AMOUNT to_currency=c.code from_currency=PREV_CODE %}" selected>{{ c.code }}</option>
                        {% else %}
                            <option value="{% url 'convert_currency' amount=CONVERSION_AMOUNT to_currency=c.code from_currency=PREV_CODE %}">{{ c.code }}</option>
                        {% endif %}
                    {% empty %}
                        <option disabled>No currencies available</option>
                    {% endfor %}
                    <!-- Add more dropdown items as needed -->
                </select>
            </div>
        </div>

        <!-- Second Row -->
        <div class="row mt-2">
            <!-- First Column -->
            <div class="col-md-12">
                <h2>{{ PREV_CODE }}:{{CONVERSION_AMOUNT }}</h2>
            </div>
        </div>

        <!-- Third Row -->
        <div class="row mt-4">
            <!-- Full Width Column for Chart -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        {{ CHART|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
