{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
<div class="container-fluid">

  <!-- Bootstrap row to create horizontal sections -->
  <div class="row" style="height: 400px;padding-top: 60px;padding-left: 80px;padding-right: 80px;background-color: floralwhite;height: max-content">

    <!-- First section (col-md-6 for half-width on medium-sized screens and larger) -->
    <div class="col-md-6 section" >
      <!-- Content for the first section -->

      <h2>Bue. Sell. Trades </h2>
    </div>

    <!-- Second section (col-md-6 for half-width on medium-sized screens and larger) -->
    <div class="col-md-6 section">
      <!-- Content for the second section -->
       <img src="https://i.pinimg.com/originals/3f/ac/8d/3fac8da7df59f26425ea3fab82f8f448.jpg" class="img-fluid" alt="Welcome Image">
    </div>

  </div>

</div>

{#    <img src="path/to/your/image.jpg" class="img-fluid" alt="Welcome Image">#}
{% endblock %}