<!-- user_profile.html -->
{% extends 'CryptoWebsite/base.html' %}

{% block content %}
  <h2>User Profile</h2>

  <div>
    <div style="float: left; margin-right: 20px;">
      <!-- Display profile picture in a circular format -->
      <img src="{{ user_profile.profile_image.url }}" alt="Profile Image" style="border-radius: 50%; width: 150px; height: 150px;">
      <br>
      <a href="#" id="edit-profile"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile</a>
    </div>

    <form method="post" enctype="multipart/form-data" style="overflow: hidden;">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" style="float: left; margin-top: 10px;">Update Profile</button>
    </form>
  </div>
{% endblock %}
